<!DOCTYPE html>
<html>
  <head>
    <title>A11yDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <%= image_tag "banner-939948_960_720.jpg" %>
    </div>
    <div class="wrap">
      <%= yield %>
    </div>
    <div class="footer">
      <%= image_tag "purple_background", height: "100" %>
    </div>
  </body>
</html>
