<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Accessibility Demo
      <% if current_page?(controller: 'posts', action: 'new') %>
        - New Blog post
      <% end %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <%= image_tag "banner-939948_960_720.jpg", alt: "" %>
    </header>
    <main class="wrap">
      <%= yield %>
    </main>
    <footer class="footer">
      <%= image_tag "purple_background", height: "100", alt: "" %>
    </footer>
  </body>
</html>
